<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="POST">
            <input placeholder="Item one" name="item_1">
            <input placeholder="Item two" name="item_2">
            <input placeholder="item three" name="item_3">
            <button type="submit">save</button>
        </form>
    </body>
</html>